USE [master]
GO
/****** Object:  Database [Banca]    Script Date: 04/09/2022 23:52:53 ******/
CREATE DATABASE [Banca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Banca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Banca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Banca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banca]
GO
/****** Object:  Schema [banca]    Script Date: 04/09/2022 23:52:53 ******/
CREATE SCHEMA [banca]
GO
/****** Object:  Table [banca].[Cliente]    Script Date: 04/09/2022 23:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [banca].[Cliente](
	[Id] [uniqueidentifier] NOT NULL,
	[Contrasenia] [nvarchar](32) NOT NULL,
	[Estado] [bit] NOT NULL,
	[Nombre] [nvarchar](64) NOT NULL,
	[Genero] [nvarchar](16) NOT NULL,
	[Edad] [smallint] NOT NULL,
	[Identificacion] [nvarchar](13) NOT NULL,
	[Direccion] [nvarchar](128) NOT NULL,
	[Telefono] [nvarchar](16) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [banca].[Cuenta]    Script Date: 04/09/2022 23:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [banca].[Cuenta](
	[Id] [uniqueidentifier] NOT NULL,
	[ClientId] [uniqueidentifier] NOT NULL,
	[NumeroCuenta] [nvarchar](16) NOT NULL,
	[TipoCuenta] [nvarchar](16) NOT NULL,
	[SaldoInicial] [real] NOT NULL,
	[Saldo] [real] NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [banca].[Movimiento]    Script Date: 04/09/2022 23:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [banca].[Movimiento](
	[Id] [uniqueidentifier] NOT NULL,
	[CuentaId] [uniqueidentifier] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Tipo] [nvarchar](16) NOT NULL,
	[Valor] [real] NOT NULL,
	[Saldo] [real] NOT NULL,
	[SaldoInicial] [real] NOT NULL,
 CONSTRAINT [PK_Movimiento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/09/2022 23:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cliente_Identificacion]    Script Date: 04/09/2022 23:52:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cliente_Identificacion] ON [banca].[Cliente]
(
	[Identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cuenta_ClientId]    Script Date: 04/09/2022 23:52:53 ******/
CREATE NONCLUSTERED INDEX [IX_Cuenta_ClientId] ON [banca].[Cuenta]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Cuenta_NumeroCuenta]    Script Date: 04/09/2022 23:52:53 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cuenta_NumeroCuenta] ON [banca].[Cuenta]
(
	[NumeroCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movimiento_CuentaId]    Script Date: 04/09/2022 23:52:53 ******/
CREATE NONCLUSTERED INDEX [IX_Movimiento_CuentaId] ON [banca].[Movimiento]
(
	[CuentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [banca].[Movimiento] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [banca].[Movimiento] ADD  DEFAULT (CONVERT([real],(0))) FOR [SaldoInicial]
GO
ALTER TABLE [banca].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Cliente_ClientId] FOREIGN KEY([ClientId])
REFERENCES [banca].[Cliente] ([Id])
GO
ALTER TABLE [banca].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Cliente_ClientId]
GO
ALTER TABLE [banca].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_Cuenta_CuentaId] FOREIGN KEY([CuentaId])
REFERENCES [banca].[Cuenta] ([Id])
GO
ALTER TABLE [banca].[Movimiento] CHECK CONSTRAINT [FK_Movimiento_Cuenta_CuentaId]
GO
USE [master]
GO
